<strong>Olá {{ userName }}!</strong>
<p>Infelizmente, o meetup <strong>{{ meetupTitle }}</strong>, que você se inscreveu foi cancelado ):</p>
<p>Pedimos desculpas, mas não desanime. Se inscreva em outros meetup!</p>
<p>
  <strong>Dados do Meetup:</strong>
  <br />
  <strong>Título: </strong>{{ meetupTitle }}<br />
  <strong>Organizador: </strong>{{ organizer }}<br />
  <strong>Data: </strong><br />
  <strong>Localidade: </strong>{{ local }}<br />
  <br />
</p>
